<%= form_for(start_date,end_date) do |f| %>

  <div class="field">
    <%= f.date_select :dateinstructed, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.date_select :dateinstructed, :order => [:day, :month, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>