
<%= form_for(@cost) do |f| %>
  <% if @cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% @cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>&nbsp;&nbsp;
    <%= f.number_field :amount %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :category_id %>&nbsp;&nbsp;
    <%= f.select(:category_id, options_for_select([['1-Salary', 1 ],['2-Property',2],['3-Business',3], ['4-Freelancing',4], ['5-Housing',5], ['6-Transportation',6], ['7-Food',7], ['8-Shopping',8], ['9-Entertainment',9]])) %>
  </div>
<br />
  <div class="field">
    <%= f.label :spent_on %>&nbsp;&nbsp;    
    <%= f.date_select :spent_on%>
   
 </div>

<br />
    <% if flash.now[:alert]%>
    <div class="actions">
      <%= f.submit :onclick => "alert('Spending exceeds 90% of the income')" %></div>
    </div>
    <% else %>
      <div class="actions">
      <%= f.submit %></div>
    </div>
    <% end %>

  <% end %>
