<p id="notice"><%= notice %></p>


<div class ="center_top"><h3 id = "center_top_1"><%= t "costs.total"%>: <%= @costs_total%></h3>

<h3 id = "center_top_2"> <%= t "incomes_total"%>: <%= @incomes_total%></h3></div>

<% if flash.now[:alert] %>
    <div class="alert"><%= flash.now[:alert] %>
  <% end %></div>

<br />
  <div class ="center_costs"><%= link_to t('.new_cost'), new_cost_path %>
<%= link_to t('.date_range'), range_costs_path %>

<h1><%= t "costs.title"%></h1></div>

<table class = "TFtable" cellpadding ="10" bgcolor = "#FFFFCC">
  <thead>
    <tr>
      <th><%= Cost.human_attribute_name(:amount)%></th>
      <th><%= Cost.human_attribute_name(:category_id)%></th>
      <th><%= Cost.human_attribute_name(:spent_on)%></th>
      <th><%= Cost.human_attribute_name(:category)%></th>
    </tr>
  </thead>
  <tbody>
    <% @costs_sum_daterange_join.each do |cost| %>
      <tr>
        <td><%= cost.amount %></td>
        <td><%= cost.category_id %></td>
        <td><%= cost.spent_on %></td>
        <td><%= cost.category.name%></td>
        <td><%= link_to t('.show') , cost %></td>
        <td><%= link_to t('.edit') , edit_cost_path(cost) %></td>
        <td><%= link_to t('.destroy') , cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />




