<h1>Listing Ordered Costs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @costs_sum_daterange.each do |key,value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', costs_path %>
