<br />
<br />

<div class = "range_center"><h1><%= t "range.title"%></h1>

<form action="order" method="post">

<input type="date" name="date1"/>
<input type="date" name="date2"/>
&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit"/>

</form></div>

<br />

<div class = "range_links"><%= link_to 'Back', costs_path %>
<%= link_to 'New Cost', new_cost_path %>
<%= link_to 'Order', order_costs_path %></div>