<p id="notice"><%= t ".notice" %></p>
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert]%></div>
  <% end %>


<p>
  <strong><%= Cost.human_attribute_name(:amount)%></strong>
  <%= @cost.amount %>
</p>

<p>
  <strong><%= Cost.human_attribute_name(:category_id)%></strong>
  <%= @cost.category_id %>
</p>

<p>
  <strong><%= Cost.human_attribute_name(:spent_on)%></strong>
  <%= @cost.spent_on %>
</p>

<%= link_to t('.edit'), edit_cost_path(@cost) %> |
<%= link_to t('.back'), costs_path %>
