<p id="notice"><%= notice %></p>

<h1><%= t "incomes.title"%></h1>

<table>
  <thead>
    <tr>
      <th><%= Cost.human_attribute_name(:amount)%></th>
      <th><%= Cost.human_attribute_name(:category_id)%></th>
      <th><%= Cost.human_attribute_name(:spent_on)%></th>
      <th><%= Cost.human_attribute_name(:category)%></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes_sum_daterange_join.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.category_id %></td>
        <td><%= income.earned_on %></td>
        <td><%= income.category.name%></td>
        <td><%= link_to t('.show'), income %></td>
        <td><%= link_to t('.edit'), edit_income_path(income) %></td>
        <td><%= link_to t('.destroy'), income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= t "incomes.total"%>: <%= @incomes_total%></p>

<%= link_to t('.new_income'), new_income_path %>
