.nav{
  position: absolute;
  right: 0px;
  color: blue;
  display:inline-block;

  font-weight: bold;
  #eng{
  font-weight: bold;
  display:inline-block;
  color: green
  }

  #esp{
  font-weight: bold;
  display:inline-block;
  color: blue;
  }

}
  
body {
  background-image: url("http://static.tumblr.com/d9f22a5911b2df60785d4822c8fd0f5b/0unrvuu/jANngye94/tumblr_static_d0hl4khimi8s8c08888wc8kok.jpg");
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

th{
  color: white;
  background-color: #33CC33
}

table, td, tr, th{
  border: 1px solid black;
  border-collapse: collapse;
}

.TFtable{
    width:100%; 
    border-collapse:collapse; 
  }
  .TFtable td{ 
    padding:7px; border:#4e95f4 1px solid;
  }
  /* provide some minimal visual accomodation for IE8 and below */
  .TFtable tr{
    background: #b8d1f3;
  }
  /*  Define the background color for all the ODD background rows  */
  .TFtable tr:nth-child(odd){ 
    background: #b8d1f3;
  }
  /*  Define the background color for all the EVEN background rows  */
  .TFtable tr:nth-child(even){
    background: #dae5f4;
  }



.range_links{
  font-weight:bold;
  margin: auto;
    width: 42%;
}

.range_center{
  margin: auto;
    width: 42%;
    color:#CC0033;
}

.centered-table{
   margin-left: auto;
   margin-right: auto;
}

.center_costs{
    margin: auto;
    width: 42%;
    padding: 10px;
    color:#CC0033;
    font-weight:bold;

}

.field{
  color: #3399CC;
  font-weight:bold
}

.alert{
  font-size: 250%;
  color: red;
  margin: auto;
  width: 42%;
}

#new_cost_back
{
 margin: auto;
  width: 42%;
  font-weight:bold 
}


.new_costs{
  margin: auto;
  width: 42%;

   #new_cost_title
  {
    color: #CC0033;
  }
  }

.new_incomes{
  margin: auto;
  width: 42%;
  }

.center_top {
    margin: auto;
    width: 42%;
    padding: 10px;
    font-weight:bold;
    display:inline-block;

    #center_top_1{
      color: green
    }

    #center_top_2{
      color: brown
    }    
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }


}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.blank_row
{
    height: 10px !important; /* Overwrite any previous rules */
    background-color: orange;
}
