<!DOCTYPE html>
<html>
<head>
  <title>Wallet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "nav">
		Language:
		<div id = "eng"><%= link_to_unless_current "English", locale: "en" %></div>
		<div id = "esp"><%= link_to_unless_current "Spanish", locale: "es" %></div>
	</div>
<%= yield %>

</body>
</html>
